<% if student_signed_in? %>
<div class="sidebar" data-color="yellow" data-image="/img/sidebar-4.jpg">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text" href="#">
       ALUNO
      </a>
    </div>
    <ul class="nav">
      <li class="active">
        <a href="dashboard.html">
          <i class="pe-7s-browser"></i>
          <p>SEU CALENDARIO</p>
        </a>
      </li>
      <li>
        <%= link_to current_student do %>
          <i class="pe-7s-id"></i>
          <p>PERFIL</p>
        <% end %>
      </li>
      <li>
        <%= link_to courses_url do %>
          <i class="pe-7s-ribbon"></i>
          <p>Curso</p>
        <% end %>
      </li>
      <li>
        <%= link_to classrooms_url do %>
          <i class="pe-7s-culture"></i>
          <p>Aulas</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end %>
